.cui.row {
    display: flex !important;;
    max-width: 100% !important;;
    overflow-x: auto !important;;
    overflow-y: hidden !important;;
}

.cui.row .image.creation {
    width: auto !important;
    height: 12em !important;
    max-width: unset !important;
}

.cui.centered.row {
    justify-content: stretch;
    flex-wrap: wrap;
    align-items: center;
}

.cui-hamburger-button {
    display: none!important;
}

.cui-imagable-detail {
    display: grid;
    grid-template: "image more" auto / auto 1fr;
}

.cui-imagable-detail .cui-image {
    grid-area: image;
}

.cui-imagable-detail .cui-more {
    grid-area: more;
}

.cui-fullsize-imagable {
    max-height: 50vh;
    width: auto;
}

.cui-collection-grid {
    
}

.cui-square-image {
    float:left;
    position: relative;
    width: 30%;
    padding-bottom : 30%; /* = width for a 1:1 aspect ratio */
    margin:1.66%;
    overflow:hidden;
}

.cui-square-image img {
    
}

/* lazyload */
.lazyload, .lazyloading {
    opacity: 0!important;
    transition: opacity 200ms ease-in-out!important;
}

.lazyloaded {
    opacity: 1!important;
}

/* Masonry */
.masonry .masonry-item, .masonry-sizer {
    width: calc(calc(100% / var(--masonry-count)) - .5em);
    height: auto;
    margin: .25em;
}

/* Smartphone */
@media only screen and (max-width: 768px) {
    :root {
        --masonry-count: 2;
    }

    nav {
        display: none;
    }

    .cui-master-header {
        display: flex!important;
        align-items: center;
        justify-content: space-between;
    }

    .cui-master-header .header {
        margin-bottom: 0px!important;
    }

    .cui-hamburger-button {
        display: initial!important;
    }

    .cui-fullsize-imagable {
        max-width: 100vw;
        height: auto;
        max-height: initial;
        width: initial;
    }
}

/* Smartphone and Tablet */
@media only screen and (max-width: 991px) {
    
}

/* Tablet */
@media only screen and (min-width: 769px) and (max-width: 991px) {
    :root {
        --masonry-count: 4;
    }
}

/* Tablet and Computer */
@media only screen and (min-width: 769px) {
    nav {
        display: block !important;
    }
}

/* Computer */
@media only screen and (min-width: 992px) {
    :root {
        --masonry-count: 6;
    }
}