/**
 * This injects Tailwind's base styles, which is a combination of
 * Normalize.css and some additional base styles.
 *
 * You can see the styles here:
 * https://github.com/tailwindcss/tailwindcss/blob/master/css/preflight.css
 *
 * If using `postcss-import`, use this import instead:
 *
 * @import "tailwindcss/preflight";
 */
 @tailwind preflight;

 /**
  * This injects any component classes registered by plugins.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/components";
  */
 @tailwind components;

 /**
  * Here you would add any of your custom component classes; stuff that you'd
  * want loaded *before* the utilities so that the utilities could still
  * override them.
  *
  * Example:
  *
  * .btn { ... }
  * .form-input { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "components/buttons";
  * @import "components/forms";
  */

body {
    font-family: 'Raleway', sans-serif;
    padding-bottom: 10em;
}

a {
    text-decoration: none;
    color: inherit;
}

.link {
    @apply font-bold text-grey-darkest border-transparent border-b-2 cursor-pointer;
    display: inline-block;
    text-decoration: none;
    transition: all 200ms ease-in-out;
}

a.link:hover {
    @apply text-black border-black;
}

.mi {
    /* transform: translateY(.1em); */
}

@responsive {
    .card {
        @apply shadow-lg bg-white p-8 overflow-hidden;
    }
}
@screen md {
    .card {
        @apply rounded-lg mx-0;
    }
}

.navigation {
    @apply flex flex-row items-center;
}

.navigation > .item  {
    @apply font-light p-4 flex flex-row items-center ml-4;
    border-bottom: 2px solid transparent;
    transition: all 200ms;
}

.navigation > .item:hover  {
    border-bottom: 2px solid black;
}

.navigation > .item > i.mi {
    @apply text-xl text-grey-darker pr-4;
    transition: all 200ms;
}

.navigation > .item:hover > i.mi {
    @apply text-black;
}

.navigation > .active.item {
    border-bottom: 2px solid black;
    @apply font-black;
}

.navigation > .active.item > i.mi {
    @apply text-black;
}

.users > .user {
    transition: all 200ms;
}

.users > .user:hover {
    transform: translateX(15px);
}

.buttons {
    @apply flex flex-col items-center justify-center;
}

.button {
    @apply rounded-full p-4 text-center font-bold px-8 cursor-pointer tracking-wide uppercase;
    display: inline-flex;
    transition: all 200ms ease-in-out;
    background: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 10%);
    font-size: .775em;
}

.button-disabled {
    @apply bg-grey-lightest text-grey-light;
}
.button-disabled:hover {
    @apply bg-grey-lightest text-grey-light;
}

.button.green {
    color: hsl(144, 91%, 38%);
    background: hsl(144, 50%, 95%);
    border: 1px solid hsl(144, 91%, 38%);
}

.button.green:hover {
    background: hsl(144, 91%, 38%);
}

.button.blue, .button-blue {
    @apply button;
    color: #444053;
    background: #dce6f2;
    border: 1px solid #444053;
}

.button.blue:hover, .button-blue:hover {
    @apply button:hover;
    background: #444053;
}

.button-red {
    @apply button;
    color: hsl(0, 91%, 38%);
    background: hsl(0, 50%, 95%);
    border: 1px solid hsl(0, 91%, 38%);
}

.button-red:hover {
    @apply button:hover;
    background: hsl(0, 91%, 38%);
}

.button.orange {
    color: hsl(35.8, 100%, 50%);
    background: hsl(35.5, 50%, 95%);
    border: 1px solid hsl(35.8, 100%, 50%);
}

.button.orange:hover {
    background: hsl(35.8, 100%, 50%);
}

.button:hover {
    @apply button:hover
}

.button\:hover {
    background: black;
    color: white;
}

.imagable {
    position: absolute;
    overflow: hidden;
}
.imagable:hover > .hidden {
    opacity: 1;
    transform: scale(1)
}
.imagable > img {
    @apply -z-10;
    transition: all 200ms ease-in-out;
}
.imagable:hover > img {
    transform: scale(1.1);
    filter: blur(5px);
}
.imagable > .hidden {
    @apply z-10 p-8 overflow-hidden;
    opacity: 0;
    transform: scale(1.1);
    background: rgba(0,0,0,.5);
    display: grid;
    grid-template: "title" auto "user" auto "press" 1fr / 1fr;
    transition: all 200ms ease-in-out;
}
.imagable > .hidden > .caption {
    @apply font-black text-white text-lg break-words;
    grid-area: title;
}
.imagable > .hidden > .user {
    @apply text-white;
    transition: all 200ms ease-in-out;
    grid-area: user;
}
.imagable > .hidden > .user:hover {
    transform: translateX(5px);
}
.lazyload {
    @apply bg-grey-lightest;
}

.folder-tag {
    @apply flex flex-row items-center m-2 rounded-full border border-grey-darkest py-2 px-4 font-bold cursor-pointer text-grey-darkest;
    transition: all 200ms ease-in-out;
}

.folder-tag.selected, .folder-tag:hover {
    @apply bg-grey-darkest text-white;
}

.input {
    @apply font-normal bg-transparent mt-2 w-full text-lg;
}

label {
    @apply font-black text-grey-darkest text-sm;
}

.field {
    @apply mb-4;
}

#page-header, #page-header * {
    @apply transition;
}

#page-header.reduced #brand {
    height: 0px;
    opacity: 0;
}

#page-header.reduced {
    @apply p-4;
}

@media (max-width: 768px) {
    #page-header .navigation {
        @apply flex flex-col items-start hidden;
    }

    .navigation > .item {
        @apply ml-0;
    }
}

@media (min-width: 768px) {
    .buttons {
        @apply items-end justify-start;
    }
}

.picture-input.done {
    color: hsl(144, 91%, 38%);
    background: hsl(144, 50%, 95%);
}

.coming-soon {
    position: relative;
    overflow: hidden;
    box-shadow: none;
}

.coming-soon::after {
    content: "Coming soon!";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, .9);
    display: flex;
    align-items: center;
    justify-content: center;
    @apply font-black text-grey-darkest;
} 

.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}
.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}
.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}
.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

input[type=checkbox]:disabled + .toggle {
    opacity: 0.3;
}

input[type=checkbox]:checked + .toggle:before {
    background: #947ADA;
}
input[type=checkbox]:checked + .toggle span {
    background: #4F2EDC;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}
input[type=checkbox]:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}

.md-checkbox {
position: relative;
margin: 1em 0;
text-align: left;
}
.md-checkbox.md-checkbox-inline {
display: inline-block;
}
.md-checkbox label {
cursor: pointer;
display: inline;
line-height: 1.25em;
vertical-align: top;
clear: both;
padding-left: 1px;
}
.md-checkbox label:not(:empty) {
    @apply font-normal;
padding-left: 0.75em;
}
.md-checkbox label:before, .md-checkbox label:after {
content: "";
position: absolute;
left: 0;
top: 0;
}
.md-checkbox label:before {
width: 1.25em;
height: 1.25em;
background: #fff;
border: 2px solid rgba(0, 0, 0, 0.54);
border-radius: 0.125em;
cursor: pointer;
transition: background .3s;
}
.md-checkbox input[type="checkbox"] {
outline: 0;
visibility: hidden;
width: 1.25em;
margin: 0;
display: block;
float: left;
font-size: inherit;
}
.md-checkbox input[type="checkbox"]:checked + label:before {
background: #337ab7;
border: none;
}
.md-checkbox input[type="checkbox"]:checked + label:after {
transform: translate(0.25em, 0.3365384615em) rotate(-45deg);
width: 0.75em;
height: 0.375em;
border: 0.125em solid #fff;
border-top-style: none;
border-right-style: none;
}
.md-checkbox input[type="checkbox"]:disabled + label:before {
border-color: rgba(0, 0, 0, 0.26);
}
.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
background: rgba(0, 0, 0, 0.26);
}


 /**
  * This injects all of Tailwind's utility classes, generated based on your
  * config file.
  *
  * If using `postcss-import`, use this import instead:
  *
  * @import "tailwindcss/utilities";
  */
 @tailwind utilities;

 /**
  * Here you would add any custom utilities you need that don't come out of the
  * box with Tailwind.
  *
  * Example :
  *
  * .bg-pattern-graph-paper { ... }
  * .skew-45 { ... }
  *
  * Or if using a preprocessor or `postcss-import`:
  *
  * @import "utilities/background-patterns";
  * @import "utilities/skew-transforms";
  *
*/

.drop-shadow {
    filter: drop-shadow(0px 3px 10px rgba(0,0,0,0.58));
}

.blur {
    filter: blur(20px);
}

.three-container {
    @apply mx-auto;
    display: grid;
    grid-template: "left center right" auto / 16.6% 1fr 16.6%;
    max-width: 1640px;
}
.three-container .left {
    grid-area: left;
}
.three-container .right {
    grid-area: right;
}
.three-container .center {
    grid-area: center;
}

.stacking {
    display: grid;
    grid-template: "stacking" auto / auto;
}
.stacking > * {
    grid-area: stacking;
}

.-z-10 {
    z-index: -10;
}

.justified-layout {
    width: 100%;
    position: relative;
}

.justified-layout > * {
    transition: all 200ms ease-in-out;
}

.bg-grey-white-gradient {
    background: linear-gradient(#f6f6f6 16em, #ffffff 16em);
}

.transition {
    transition: all 200ms ease-in-out;
}

[id*=comment]:target {
    @apply bg-blue-lightest;
}

@supports(backdrop-filter: blur(50px)) {
    .blurry {
        backdrop-filter: blur(50px);
        background: rgba(246, 246, 246, 0.9)
    }
}

@media (max-width: 768px) {

    .hide {
        transform: translateY(-100%);
    }

    .three-container {
        grid-template: "left" auto "right" auto "center" auto / 1fr;
    }

    .three-container-between {
        grid-template: "left" auto "center" auto "right" auto / 1fr;
    }
}